.Theme {
    background-color: #282c34;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 50px;
    box-sizing: border-box;
}

.main-header {
    margin-top: -10%;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ff6347;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 2em;
    margin-bottom: 0px;
    margin-top:0px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c54933;
}

p {
    font-size: 1.5em ;
    font-weight:200; 
}
.content {
    text-align: left;
    max-width: 800px;
}

.content p,
.content li {
    font-size: 1.2em;
    line-height: 1.6;
}

.code_block{
    padding: 10px;
    border-radius: blue;
    margin: 20px 0;
    width:30%
}